<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info" 
      internalLogFile="nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="subject_Id" value="00000000"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Writing events to the a file with the date in the filename.     -->
    <target xsi:type="File" name="appLog" createDirs="true" forceManaged="true"
            fileName="logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    
    <target xsi:type="File" name="statistics" createDirs="true" forceManaged="true"
            fileName="logs/statistics/${gdc:subject_Id}_${shortdate}.log">
        <layout xsi:type="LayoutWithHeaderAndFooter">
          <header xsi:type="SimpleLayout" text="----------Start Statistics ## ${gdc:subject_Id}--------&#xD;&#xA;"/>
          <layout xsi:type="SimpleLayout" text="${message}" />
          <footer xsi:type="SimpleLayout" text="----------End Statistics ## ${gdc:subject_Id}--------&#xD;&#xA;
                                                Completion time: ${gdc:completion_time}"/>
        </layout>
      </target>

    <target xsi:type="File" name="markerLog" createDirs="true" forceManaged="true"
            fileName="logs/markerLogs/${gdc:subject_Id}_${shortdate}.log" >

      <layout xsi:type="LayoutWithHeaderAndFooter">
        <header xsi:type="SimpleLayout" text="----------Marker Logs Starting---------&#xD;&#xA;"/>
        <layout xsi:type="SimpleLayout" text="${message}" />
        <footer xsi:type="SimpleLayout" text="----------Marker Logs Ending-----------&#xD;&#xA;"/>
      </layout>
    </target>
    
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"    -->
    <logger name="App" minlevel="Trace" writeTo="appLog" />
    <logger name="Statistics" minlevel="Trace" writeTo="statistics"/>
    <logger name="MarkerLog" minlevel="Info" writeTo="markerLog"/>
  </rules>
</nlog>